<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Inicio</title>
<style>
    body{
        background-image: url('../imagenes/fn.jpg');
    }
    .carousel-item{
        filter: brightness(60%);
    }
</style>
</head>

<body>

    <!--
        <nav class="nav_style">
            <a href="http://127.0.0.1:3000/" class="logo nav_link">Soportes</a>
            <ul class="nav_menu">
                <li class="nav_menu_item"><a href="/admin" class="nav_menu_link nav_link">Administrador</a></li>
                <li class="nav_menu_item"><a href="/login" class="nav_menu_link nav_link">Cliente</a></li>
            </ul>
        </nav>
    -->
    <nav class="navbar navbar-expand-md navbar-light bg-dark border-3 border-bottom border-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-light fw-bold m-lg-2" href="#"><i
                    class="bi bi-cpu m-lg-2"> <i class="bi bi-tools"></i></i>SOPORTE TÉCNICO</a>
            <button class="navbar-toggler btn btn-outline-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light m-lg-2 bi bi-person-plus" href="/admin"> Administración</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light m-lg-2 bi bi-person" href="/login"> Cliente</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide col-md-8 remove-float center-block big-top-space mx-auto mt-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/imagenes/hardware1.jpg" class="d-block w-100" alt="...">
            
          </div>
          <div class="carousel-item">
            <img src="/imagenes/hardware2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/imagenes/hardware3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h1 class="fw-bold">Bienvenido a Nuestro</h1>
            <h1 class="fw-bold">Trabajo Final de Asignatura (DBP)</h1>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><br><br>


    <!-- Footer -->
<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/BryanOrdonez23/SistemaGestionSoporteTecnico-DBP" role="button"
          ><i class="bi bi-github"> Github</i
        ></a>
      </section>
      <section class="mb-4">
        <p>
            Proyecto final de la Asignatura Desarrollo Basado en Plataformas.
        </p>
      </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <i class="text-white" >Bryan O. Ricardo C.</i>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>